body {
    color: #707070;
}

.modal-head {
    background: #c0232c;
    background: -moz-linear-gradient(top, #cc212b 50%, #a82229 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #cc212b), color-stop(100%, #a82229));
    background: -webkit-linear-gradient(top, #cc212b 50%, #a82229 100%);
    background: -o-linear-gradient(top, #cc212b 50%, #a82229 100%);
    background: -ms-linear-gradient(top, #cc212b 50%, #a82229 100%);
    background: linear-gradient(top, #cc212b 50%, #a82229 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc212b', endColorstr='#a82229', GradientType=0);
    height: 50px;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    min-width: 960px;
}
.modal-head .logo {
    height: 20px;
    width: 185px;
    background: url("/entrata/images/_common/logo_white.png");
    position: absolute;
    top: 10px;
    left: 20px;
}
.modal-head .title {
    color: #fff;
    top: 2px;
    left: 112px;
    font-size: 16px;
    position: absolute;
    font-weight: 200;
    vertical-align: middle;
    width: 85%;
    height: 44px;
}
.modal-head .title span {
    margin-right: 15px;
    overflow: hidden;
}
.modal-head .title span a {
    color: #fff;
}
.modal-head .title span i {
    background-position: 0px -394px;
    width: 20px;
    height: 44px;
    vertical-align: middle;
    margin-right: 15px;
}
.modal-head .entrata-logo {
    height: 18px;
    width: 85px;
    background: url("/entrata/images/_common/entrata_logo_white.png");
    position: absolute;
    top: 13px;
    left: 20px;
}
.modal-head .psi-logo {
    height: 29px;
    width: 40px;
    background: url("/entrata/images/_common/psi_logo_white.png");
    position: absolute;
    top: 9px;
    left: 20px;
}
.modal-head .close {
    background: url("/images/main_sprite.png?ver=1371714036") 0px -80px no-repeat;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 13px;
    right: 20px;
    cursor: pointer;
}
.modal-head .close:hover {
    background-color: #a22027;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.modal-head .close-menu {
    position: fixed;
    background: #fff;
    padding: 15px;
    top: 31px;
    right: 20px;
    display: none;
}
.modal-large {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    min-width: 960px;
    z-index: 900;
}
.modal-large .modal-body-container {
    top: 55px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    z-index: 901;
}
.modal-large .modal-body-container .modal-body {
    margin: 0px 10px 15px;
    background: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    min-width: 960px;
    position: relative;
}
.modal-large .modal-body-container .modal-body .padding {
    padding: 20px;
}
.modal-large .modal-overlay {
    top: 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    background: #000 \9;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    position: absolute;
    z-index: 900;
}
.ui-dialog {
    padding: 0px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3),  0 3px 5px rgba(0, 0, 0, 0.5);
    zoom: 1;
    background: #c0232c;
    background: -moz-linear-gradient(top, #cc212b 50%, #a82229 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #cc212b), color-stop(100%, #a82229));
    background: -webkit-linear-gradient(top, #cc212b 50%, #a82229 100%);
    background: -o-linear-gradient(top, #cc212b 50%, #a82229 100%);
    background: -ms-linear-gradient(top, #cc212b 50%, #a82229 100%);
    background: linear-gradient(top, #cc212b 50%, #a82229 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc212b', endColorstr='#a82229', GradientType=0);
}
.ui-dialog .ui-widget-header {
    background: none;
    border: 0 none;
    color: #fff;
    font-size: 14px;
}
.ui-dialog .ui-dialog-titlebar {
	cursor: move;
    padding: 7px 10px 5px;
}
.ui-dialog .ui-dialog-content {
    padding: 15px 15px 0px;
    margin: 4px;
    position: static;
    background: #fff;
    zoom: 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #999999;
}
.ui-dialog .ui-dialog-content .form, .ui-dialog .ui-dialog-content .form-small {
    padding-bottom: 90px;
}
.ui-dialog .ui-dialog-content .form dd, .ui-dialog .ui-dialog-content .form-small dd {
    *position: static;
}
.ui-dialog .ui-dialog-content .form i, .ui-dialog .ui-dialog-content .form-small i {
    *position: static;
}
.ui-dialog .ui-dialog-content .column-left, .ui-dialog .ui-dialog-content .column-right {
    *position: static;
}
.ui-dialog .ui-dialog-content .sort th, .ui-dialog .ui-dialog-content .button, .ui-dialog .ui-dialog-content i {
    *position: static;
}
.ui-dialog .ui-dialog-content .loading-overlay {
    top: 32px;
    left: 5px;
}
.ui-dialog .ui-dialog-titlebar-close {
    right: 3px;
    width: auto;
    height: auto;
}
.ui-dialog.ui-widget-content {
    border: #c0232c 1px solid;
    color: #333333;
    font-size: 1.1em;
}
.ui-dialog .ui-button {
    background: none;
    border: 0 none;
    padding: 0 10px;
    float:right;
}
.ui-dialog .ui-button .ui-button-text {
    padding: 0;
}
.ui-widget-header {
    font-weight: bold;
    color: #333333;
}
.ui-widget-header .ui-icon {
    background: url("/images/main_sprite.png?ver=1371714036");
    width: 18px;
    height: 18px;
}
.ui-widget-header .ui-icon-closethick {
    background-position: 0px -80px;
}
.ui-widget-header .ui-state-hover .ui-icon-closethick {
    background-color: #a22027;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.ui-dialog .ui-dialog-titlebar{padding:7px 10px 5px}.ui-dialog .ui-dialog-content{padding:15px 15px 0px;margin:4px;position:static;background:#fff;zoom:1;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;border:1px solid #999999}.ui-dialog .ui-dialog-content .form,.ui-dialog .ui-dialog-content .form-small{padding-bottom:90px}.ui-dialog .ui-dialog-content .form dd,.ui-dialog .ui-dialog-content .form-small dd{*position:static}.ui-dialog .ui-dialog-content .form i,.ui-dialog .ui-dialog-content .form-small i{*position:static}.ui-dialog .ui-dialog-content .column-left,.ui-dialog .ui-dialog-content .column-right{*position:static}.ui-dialog .ui-dialog-content .sort th,.ui-dialog .ui-dialog-content .button,.ui-dialog .ui-dialog-content i{*position:static}.ui-dialog .ui-dialog-content .loading-overlay{top:32px;left:5px}.ui-dialog .ui-dialog-titlebar-close{right:3px;width:auto;height:auto}.ui-dialog.ui-widget-content{border:#c0232c 1px solid;color:#333333;font-size:1.1em}.ui-dialog .ui-button{background:none;border:0 none;padding:0 10px}.ui-dialog .ui-button .ui-button-text{padding:0}.ui-widget-overlay{background:#000;opacity:.70;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70)}.ui-widget-header{font-weight:bold;color:#333333}.ui-widget-header .ui-icon{background:url("/Entrata/images/_common/main_sprite.png?ver=1371714036");width:18px;height:18px}.ui-widget-header .ui-icon-closethick{background-position:0px -80px}